

/*=============================================================================
  VARIABLES
=============================================================================*/

//TARGET COLORS
$background         : #98b7d3;
$header-primary     : #8c9100;
$header-secondary   : #6db5e3;
$header-tertiary    : #071d49;

//STANDARD COLORS
$gray            : rgba(119, 120, 123, 1);
$gray-light      : rgba(230, 231, 232, 1);
$gray-dark       : rgba(88, 89, 91, 1);
$black           : #000000;
$white           : #ffffff;

//DIMENSIONS
$max-width	        : 1000px;
$section-height     : 620px;
$mobile-width       : 750px;
$phone-width        : 659px;
$phone-height       : 343px;
$header-height      : 0px;
$footer-height      : 0px;
